body{
    color: darkgreen;
    background-color: darkgreen;
}
div.geral{
    position: relative;
    width: 760px;
    /*height: 500px;*/
    margin-left: auto;
    margin-right: auto;
    font-family: verdana;
    background-color: whitesmoke;
}
div.cabecalho{
    position: relative;
    height: 83px;
    background-color: whitesmoke; 
}
div.logo{
    position: absolute;
    height: 83px;
    width: 85px;
}
div.titulo{
    position: absolute;
    margin-left: 85px;
    height: 83px;
    width: 600px;
    color: #9abf0f;
}
div.titulo p{
    margin-top: 20px;
    font-size: 32px;
}
p.titulo{
    margin-top: 20px;
    font-size: 32px;
    color: #9abf0f;
}
div.menu{
    /*margin-top: 1px;*/
    position: relative;
    height: 27px;
    background-color: whitesmoke;
    background:white url(imgs/bg2.gif) repeat-x left top;
}
div.menu ul
{
    padding:6px 20px 5px 20px;
    margin:0px;
}

div.menu ul li
{
    display: inline;
}

div.menu ul li a
{
    color:#ffffff;
    background-color:transparent;
    font-size:12px;
    font-weight:bold;
    text-decoration:none;
    padding:5px 8px;
}

div.menu ul li a:hover, div.menu ul li.active a
{
    color: #137B2D;
    background-color:#C5FAD7;
    /*color: #6399cd;
    background-color:#EFF4FA;*/
    text-decoration:none;
}


div.conteudo{
    /*margin-top: 1px;*/
    position: relative;
    background-color: whitesmoke;
    padding: 10px;
    margin: 10px 20px;
    font-size: 14px;
    text-align: justify;
}
div.breadcrumbs
{
	font-size: 10px;
	/*padding: 5px 20px;*/
}

div.breadcrumbs span
{
	font-weight: bold;
}
div.rodape{
    /*position: relative;
    height: 63px;
    background-color: pink;*/
    padding: 10px;
    margin: 10px 20px;
    font-size: 0.6em;
    text-align: center;
    border-top: 1px solid #C9E0ED;
}

img{
    height: 83px;
}
img.logo{
    height: 112px;
    width: 102px;
    alignment-adjust: central;
}
