body{
    color: darkgreen;
    background-color: darkgreen;
}
div.geral{
    position: relative;
    width: 760px;
    /*height: 500px;*/
    margin-left: auto;
    margin-right: auto;
    font-family: verdana;
    background-color: whitesmoke;
}
div.cabecalho{
    position: relative;
    height: 83px;
    background-color: whitesmoke; 
}
div.logo{
    position: absolute;
    height: 83px;
    width: 85px;
}
div.titulo{
    position: absolute;
    margin-left: 85px;
    height: 83px;
    width: 600px;
    color: #9abf0f;
}
div.titulo p{
    margin-top: 20px;
    font-size: 32px;
}
p.titulo{
    margin-top: 20px;
    font-size: 32px;
    color: #9abf0f;
}
div.login
{
    position: absolute;
    top: 90px;
    right: 0;
    height: 27px;
    font-size: 12px;
    background-color: whitesmoke;
    background:white url(imgs/bg2.gif) repeat-x left top;
}
div.login text
{
    color:#ffffff;
    background-color:transparent;
    font-size:12px;
    font-weight:bold;
}
div.menu{
    /*margin-top: 1px;*/
    position: relative;
    top: 0;
    left: 0;
    height: 27px;
    /*width:550px;*/
    background-color: whitesmoke;
    background:white url(imgs/bg2.gif) repeat-x left top;
}
div.menu ul
{
    /*width: 500px;*/
    padding:6px 20px 5px 20px;
    margin:0px;
}

div.menu ul li
{
    display: inline;
}
div.menu a.menu
{
    /*width: 100px;
    padding-left: 188px;*/
    font-size: 12px;

}
div.menu ul li a
{
    color:#ffffff;
    background-color:transparent;
    font-size:12px;
    font-weight:bold;
    text-decoration:none;
    padding:5px 8px;
}

div.menu ul li a:hover, div.menu ul li.active a
{
    color: #137B2D;
    background-color:#C5FAD7;
    /*color: #6399cd;
    background-color:#EFF4FA;*/
    text-decoration:none;
}

div.conteudo{
    /*margin-top: 1px;*/
    position: relative;
    background-color: whitesmoke;
    padding: 10px;
    /*margin: 10px 20px;*/  
    font-size: 14px;
    text-align: justify;
}
div.conteudo-form{
    /*margin-top: 1px;*/
    position: relative;
    background-color: whitesmoke;
    padding: 10px;
    /*margin: 10px 20px;*/  
    font-size: 14px;
    text-align: center;
}
div.conteudo-form input.radio
{
    width: 30px;
}

div.conteudo-form input.button
{
    width: auto;
}
div.conteudo-form input.button_prox
{
    font-weight: bold;
    width: auto;
}
div.conteudo-form table
{
    margin: auto;
}
div.conteudo-form table td
{
    width: 100px;
}
div.conteudo-form table td.button
{
    width: 150px;
}
div.question-form
{
    font-weight: bold;
    text-align: center;
    font-size: 14px;
    color: darkgreen;
    /*padding: 5px 20px;*/
    height: 25px;
}
div.breadcrumbs
{
    font-size: 10px;
    /*padding: 5px 20px;*/
    height: 25px;
}
div.breadcrumbs-form
{
    text-align: left;
    font-size: 10px;
    /*padding: 5px 20px;*/
    height: 25px;
}

div.breadcrumbs span
{
    font-weight: bold;
}
div.rodape{
    padding: 10px;
    margin: 10px 20px;
    font-size: 10px;
    text-align: center;
    border-top: 1px solid #C9E0ED;
}

img{
    height: 83px;
}
img.logo{
    height: 112px;
    width: 102px;
    alignment-adjust: central;
}
table{

}
table.resultado{
    width: 740px;
    font-size: 10px;
    border: 1px solid green;
    border-collapse: collapse;
    table-layout: fixed;
}
label.cadastro{
    width: 630px;
    font-size: 12px;
}
th{
    border: 1px solid green;
}
td.cadastro{
    width: 100px;
    font-size: 11px;
    text-align: justify;
}
td.s0{

    height: 55px;
    border: 1px solid green;
    text-align: center;    
}
td.s1{
    height: 55px;
    border: 1px solid green;
    text-align: center;  
    background-color: #006600;/*verde escuro*/
}
td.s2{
    height: 55px;
    border: 1px solid green;
    text-align: center;
    background-color: #00FF00;/*verde claro*/
}
td.s3{
    height: 55px;
    border: 1px solid green;
    text-align: center;
    background-color: #FFFF00;/*amarelo*/
}
td.s4{
    height: 55px;
    border: 1px solid green;
    text-align: center;
    background-color: #FFFFFF;/*branco*/
}
td.s5{
    height: 55px;
    border: 1px solid green;
    text-align: center;
    background-color: #FF6600;/*laranja*/
}
td.s6{
    height: 55px;
    border: 1px solid green;
    text-align: center;
    background-color: #FF0000;/*vermelho*/
}
td.s7{
    height: 55px;
    border: 1px solid green;
    text-align: center;
    background-color: #660000;/*vermelho escuro*/
}
body.t{
    font-size: 5px;
}
.style1 {
    color: #FF0000;
    font-size: x-small;
}
.style3 {color: #0000FF;
         font-size: x-small;
}