body{
    color: black;
    background-color: #ebffc5;
}
div.geral{
    position: relative;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    font-family: verdana;
    background-color: #ffffff;
}
div.cabecalho{
    position: relative;
    height: 85px;
    background-color: #ffffff; 
}
div.logo{
    position: absolute;
    margin-left:260px;
    height: 83px;
    width: 25px;
}
div.titulo{
    position: absolute;
    margin-left:355px;
    height: 83px;
    width: 600px;
    color: #9abf0f;
}
div.titulo p{
    margin-top: 20px;
    font-size: 32px;
}
p.titulo{
    margin-top: 20px;
    font-size: 32px;
    color: #9abf0f;
}
div.login
{
    position: absolute;
    top: 94px;
    right: 10px;
    height: 27px;
    font-size: 12px;
    color: #ffffff;
    background: #66b400; /*white url(imgs/bg2.gif) repeat-x left top;*/
}

div.login a {
    color: #ffffff;
}

div.login text
{
    color:#ffffff;
    background-color:transparent;
    font-size:12px;
    font-weight:bold;
}
div.menu{
    /*margin-top: 1px;*/
    position: relative;
    top: 0;
    left: 0;
    height: 33px;
    /*width:550px;*/
    background-color: #ffffff;
    background: #66b400;   /*white url(imgs/bg2.gif) repeat-x left top;*/
}
div.menu ul
{
    /*width: 500px;*/
    padding:6px 20px 5px 20px;
    margin:0px;
}

div.menu ul li
{
    display: inline;
}
div.menu a.menu
{
    /*width: 100px;
    padding-left: 188px;*/
    font-size: 12px;

}
div.menu ul li a
{
    color:#ffffff;
    background-color:transparent;
    font-size:12px;
    font-weight:bold;
    text-decoration:none;
    padding:5px 8px;
}

div.menu ul li a:hover, div.menu ul li.active a
{
    color: darkgreen;
    background-color:#FFFFFF;
    /*color: #6399cd;
    background-color:#EFF4FA;*/
    text-decoration:none;
}

div.conteudo{
    /*margin-top: 1px;*/
    position: relative;
    background-color: #ffffff;
    padding: 20px;
    min-height: 500px;
    /*margin: 10px 20px;*/  
    font-size: 14px;
    text-align: justify;
}

div.conteudo-form{
    /*margin-top: 1px;*/
    position: relative;
    background-color: #ffffff;
    padding: 10px;
    padding-left: 70px;
    padding-right: 70px;
    /*margin: 10px 20px;*/  
    min-height: 500px;
    font-size: 14px;
    /*text-align: center;*/
}
div.conteudo-form input.radio
{
    width: 30px;
    text-align: left;
}

div.conteudo-form input.button
{
    width: auto;
}
div.conteudo-form input.button_prox
{
    font-weight: bold;
    width: auto;
}
div.conteudo-form table
{
    margin: auto;
    position: absolute;
    left: 10%;
    
}
div.conteudo-form table td
{
    width: 130px;
    padding: 10px
}
div.conteudo-form table td.button
{
    width: 150px;
}
div.question-form
{
    font-weight: bold;
    text-align: center;
    font-size: 14px;
    color: darkgreen;
    /*padding: 5px 20px;*/
    height: 25px;
}
div.breadcrumbs
{
    font-size: 10px;
    /*padding: 5px 20px;*/
    height: 25px;
}
div.breadcrumbs-form
{
    text-align: left;
    font-size: 10px;
    /*padding: 5px 20px;*/
    height: 25px;
}

div.breadcrumbs span
{
    font-weight: bold;
}
div.rodape{
    position: relative;
    padding: 10px;
    margin: 10px 20px;
    font-size: 10px;
    text-align: center;
    border-top: 1px solid #C9E0ED;
}

img{
    height: 83px;
}
img.logo{
    height: 112px;
    width: 102px;
    alignment-adjust: central;
}

table.resultado{
    width: 100%;
    font-size: 10px;
    border: 1px solid;
    border-collapse: collapse;
}

th{
    border: 1px solid;
    padding: 10px;
    font-size: 110%;
}

td.s0{
    height: 85px;
    width: 100px;
    border: 1px solid;
    text-align: center; 
}

td.s-10{
   
    border: 1px solid;
    text-align: center;  
    background-color: rgb(255,201,14);/*laranja*/
}
td.s-11{
    border: 1px solid;
    text-align: center;  
    background-color: #FF0000;/*vermelho*/
}
td.s-12{
    border: 1px solid;
    text-align: center;
    background-color: rgb(191,0,0);/*vermelho escuro*/
}
td.s00{
    border: 1px solid;
    text-align: center;
    background-color: rgb(250,250,250);/*cinza-claro*/
}
td.s01{
    border: 1px solid;
    text-align: center;
    background-color: rgb(250,250,250);/*cinza-claro*/
}
td.s02{
    border: 1px solid;
    text-align: center;
    background-color: rgb(250,250,250);/*cinza-claro*/
}
td.s10{
    border: 1px solid;
    text-align: center;
    background-color: rgb(250,250,250);/*cinza-claro*/
}
td.s11{
    border: 1px solid;
    text-align: center;
    background-color: #FFFF00;/*amarelo*/
}
td.s12{
    border: 1px solid;
    text-align: center;
    background-color: rgb(181,230,29);/*verde claro*/
}
td.s20{
    border: 1px solid;
    text-align: center;
    background-color: rgb(250,250,250);/*cinza-claro*/
}
td.s21{
    border: 1px solid;
    text-align: center;
    background-color: rgb(181,230,29);/*verde claro*/
}
td.s22{
    border: 1px solid;
    text-align: center;
    background-color: rgb(23,121,53);/*verde escuro*/
}

td.legenda {
    height:15px;
    width: 150px;
    padding: 5px;
}

body.t{
    font-size: 5px;
}
.style1 {
    color: #FF0000;
    font-size: x-small;
}
.style3 {color: #0000FF;
         font-size: x-small;
}
